@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,30");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #e5e7eb;
}
